*{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400; 
    font-style: normal;
    /* color: #b3b7ba */
}

body{
    padding:0;
    margin:0;
    height: 100vh;
}
header{
    width: 100%;
    /* background-color: #27374D; */
    /* background-color: #6C698D; */
    /* background-color: #010101; */
    background-color: #312E2E;
    /* background-color: #090F15; */
    height: 100vh;
    display:flex;
    flex-direction: column;
    position:absolute;
    transition: height 1s ease;
}
.cuerpoHeader{
    /* margin:auto; */
    position:absolute;
    margin:auto;
    top:10%;
    left: 15%;
    display:flex;
    width: 65%;
    height: 65%;
    justify-content: center;
    padding:1em;
    gap:10px;
    color: #D4D2D5;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    transition:opacity 1s linear;
}
.cabCuerpo{
    display:flex;
    /* background-color: red; */
    flex-direction: row-reverse;
    width: 100%;
    margin: 0;
    margin-bottom:auto;
    justify-content: center;
    border-bottom: 1px solid #FFF;
    padding-bottom:1em 
}
/* .imgPerfil{
    width: 175px;
    height: 175px;
    border-radius: .5em;
}
.contImgP{
    width: 25%;
    display:flex;
    justify-content: center;
} */
.titulo{
    width: 30%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    /* background-color: blue; */
}
.nombteTit{
    text-align: center;
}
.contRedes{
    width: 90%;
    margin-top:auto;
    display: flex;
    justify-content: center;
    gap:50px;
}
.iconRed{
    width: 40px;
    fill: #D4D2D5;
}
.iconRed:hover{
    fill: #eaf2f9;
    transition: fill .5s ease;
}
.textPort{
    width: 100%;
    display:flex;
    /* overflow-y: scroll; */
    flex-direction: column;
    margin: auto;
    /* margin-bottom:100px; */
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-size: 17px;
}
.textoPortada{
    width: 95%;
}

.footerHeader{
    display:flex;
    flex-direction: row;
    width: 97%;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #FFFF;
    margin:auto;
    padding: 0 15px;
    margin-bottom:0;
    color: #DDE6ED;
}
.svgAbajo{
    width: 25px;
    fill: #98A1BC;
}

/* Siguientes estilos es para los contenedores de los proyectos. */
main{
    background-color: #6E6A6F;
    background-image: url(./imagen/emile-perron-xrVDYZRGdw4-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
.contCuerpBody{
    width: 80%;
    height: 85%;
    position:absolute;
    top:53%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: row;
    gap:20px;
    visibility: visible;
    opacity: 1;
    transition: visibility, opacity 2s ease;
}
.contIzq, .contDer{
    border-radius:1em;
}

/* Contenedor izquierdo */
.contIzq{
    width: 23%;
}
.seleccionCab{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:30px;
    border: 1px solid white;
    border-radius:.5em;
    backdrop-filter: blur(8px);
    color: #D4D2D5;

}
select{
    background-color:transparent;
    border:none;
    border-bottom: 1px solid black;
    color:#FFF;
    padding:3px;
    font-size: 16px;
    /* height: 2em; */
    /* padding:5px */
}
option{
    color:#6E6A6F
}
.cuerpoIzq{
    padding: 10px 30px;
    margin-top:10px;
    border-radius:.5em;
    border:1px solid white;
    backdrop-filter: blur(8px);
    color: #D4D2D5;

}
.descripcionL{
    margin: 20px 0;
}
.experiencia{
    display:flex;
    flex-direction: row;
    gap:10px
}
.svgStar{
    width: 25px;
    fill: #312E2E;
}
/* Contenedor derecho */
.contDer{
    width: 75%;
    height: 85vh;
    border: 2px solid white;
    overflow-y:scroll;
}
.contDer::-webkit-scrollbar{
    width: 0;
}

.cabTitulo{
    position:sticky;
    top:0;
    left: 0;
    padding:20px;
    z-index: 999999;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(18px);
    background-color: #312e2e7f;
    color: #D4D2D5;
}.cabTitulo p {
    margin: 0 0 5px 0;
}
/* Contenedor para la experiencia de trabajo */
.cardInfoProyect{
    display:flex;
    flex-direction: row;
    /* margin:auto; */
    width: 95%;
    height: auto;
    background-color: #312e2ec2;
    backdrop-filter: blur(10px);
    color: #D4D2D5;
    margin:10px auto;
    border-radius: .4em;
    /* gap:20px */
}
.videoYT{
    /* width: 300px;
    height: 208px; */
    border-radius: 1em;
    justify-content: center;
    align-items: center;
    margin: 15px 0 10px 10px;
}
.tituloProy{
    display:flex;
    justify-content: center;
    text-align: center;
    padding:15px 0 5px;
    font-weight: 700;
}
.descripProy{
    padding: 10px 20px;
    text-align: justify;
    line-height: 1.7;
}
.linkWeb{
    color: #debaf3;
    text-decoration: none;
}.linkWeb:hover{
    color:#ebd6f7
}
.contVideo{
        display:flex;
        justify-content: center;
        align-items: center;
        margin:0 auto;
    }



/* Media queries */
/* Laptops */
@media screen and (min-width:1025px) and (max-width: 1440px) {
    .titulo{
        display:flex;
        width: 50%;
        align-items: center;
    }
    .textoPortada{
        font-size: 15px;
    }
    .textPort{
        padding-top:130px;
        overflow-y: scroll;
        height: 50%;
    }
    .textPort::-webkit-scrollbar{
        width: 0;
    }
}

/* Tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cuerpoHeader{
        width: 80%;
        top:7%;
        left: 8%;
    }
    .titulo{
        display:flex;
        width: 60%;
        align-items: center;
    }
    .textPort{
        padding-top:220px;
        overflow-y: scroll;
        height: 50%;
    }
    .footerHeader{
        padding: 0px;
    }
    /* Diseños para el cuerpo de los proyectos */
    .contCuerpBody{
        width: 95%;
    }
    .contIzq{
        width: 30%;
        font-size: 14px;
        line-height: 1.6;
    }
    .seleccionCab{
        padding:10px
    }
    .cuerpoIzq{
        padding: 10px 15px;
        gap:0;
    }
    .cuerpoIzq p{
        margin:0;
    }
    .svgStar{
        width: 20px;
    }
    .videoYT{
        width: 250px;
    }
    .descripProy{
        font-size: 14px;
    }
}

/* Moviles grandes */
@media screen and (min-width: 624px) and (max-width: 768px) {
    .cuerpoHeader{
        width: 85%;
        top:7%;
        left:5%;
    }
    .titulo{
        display:flex;
        width: 60%;
        align-items: center;
    }
    .textPort{
        padding-top:245px;
        overflow-y: scroll;
        height: 50%;
    }
    .footerHeader{
        padding: 0px;
    }
    /* Diseños para el cuerpo de los proyectos */
    .contCuerpBody{
        width: 95%;
        /* background-color: red; */
    }
    .contIzq{
        width: 27%;
        font-size: 13px;
        line-height: 1.3;
    }
    .seleccionCab{
        padding:10px;
        font-size: 13px;
    }
    select{
        font-size: 13px;
    }
    .cuerpoIzq{
        padding: 2px 15px
    }
    .cuerpoIzq p{
        margin: 5px 0 0;
    }
    .svgStar{
        width: 15px;
    }
    .videoYT{
        width: 375px;
    }
    .cardInfoProyect{
        flex-direction: column-reverse;
    }
    .descripProy{
        font-size: 14px;
    }
}
/* Moviles grandes 2*/
@media screen and (min-width: 426px) and (max-width: 623px) {
    .cuerpoHeader{
        width: 85%;
        top:7%;
        left:6%;
    }
    .titulo{
        display:flex;
        width: 75%;
        align-items: center;
    }
    /* .contImgP{
    width: 25%;
    display:flex;
    justify-content: center;
    align-items: center;
} */
    /* .imgPerfil{
        width: 100px;
        height: 100px;
    } */
    .textPort{
        padding-top:345px;
        overflow-y: scroll;
        height: 50%;
    }
    .footerHeader{
        padding: 0px;
    }
    /* Diseños para el cuerpo de los proyectos */
    .contCuerpBody{
        width: 95%;
        flex-direction: column;
    }
    .contIzq{
        width: 100%;
        font-size: 13px;
        line-height: 1.3;
        color:#312E2E
    }
    .seleccionCab{
        padding:10px;
        font-size: 14px;
        color:#ffffff
    }
    .cuerpoIzq{
        padding: 2px 15px;
        color:#ffffff
    }
    .contDer{
        width: 100%;
    }
    .cabTitulo{
        position:relative;
    }
    .svgStar{
        width: 15px;
    }
    .videoYT{
        width: 380px;
    }
    .cardInfoProyect{
        flex-direction: column-reverse;
    }
    .descripProy{
        font-size: 14px;
    }
}

/* Telefonos mas pequeños 1 */
@media screen and (min-width: 376px) and (max-width: 426px) {
    .cuerpoHeader{
        width: 85%;
        top:7%;
        left:5%;
    }
    .titulo{
        display:flex;
        width: 75%;
        align-items: center;
    }
    /* .contImgP{
    width: 25%;
    display:flex;
    justify-content: center;
    align-items: center;
} */
    /* .imgPerfil{
        width: 90px;
        height: 90px;
    } */
    .cabCuerpo{
        /* margin-top:50px */
    }
    .textPort{
        padding-top:325px;
        overflow-y: scroll;
        height: 50%;
        line-height: 1.4;
        font-size: 16px;
    }
    .footerHeader{
        padding: 0px;
        /* margin-bottom: 50px; */

    }
    /* Diseños para el cuerpo de los proyectos */
    .contCuerpBody{
        width: 95%;
        flex-direction: column;
    }
    .contIzq{
        width: 100%;
        font-size: 13px;
        line-height: 1.3;
        color:#312E2E
    }
    .seleccionCab{
        padding:10px;
        font-size: 14px;
        color:#ffffff
    }
    .cuerpoIzq{
        padding: 2px 15px;
        color:#ffffff
    }
    .contDer{
        width: 100%;
    }
    .cabTitulo{
        position:relative;
    }
    select{
        color:#FFF;
    }
    .svgStar{
        width: 15px;
    }
    .videoYT{
        width: 300px;
    }
    .cardInfoProyect{
        flex-direction: column-reverse;
    }
    .descripProy{
        font-size: 14px;
    }
}

/* Telefonos mas pequeños 2 */
@media screen and (min-width: 320px) and (max-width: 376px) {
    .cuerpoHeader{
        width: 95%;
        position:relative;
        height: 0;
        top:auto;
        left:auto;
        padding:85px 0 90px 0;
    }
    .titulo{
        display:flex;
        width: 70%;
        align-items: center;
        justify-content: space-around;
    }
    .cabCuerpo{
        margin-top:100px
    }
    /* .contImgP{
    width: 25%;
    display:flex;
    justify-content: center;
    align-items: center;
    }
    .imgPerfil{
        width: 70px;
        height: 70px;
    } */
    .textPort{
        padding-top:320px;
        /* padding-bottom: 15px; */
        margin-bottom: 10px;
        overflow-y: scroll;
        width: 95%;
        height:10%;
        line-height: 1.5;
        font-size: 15px;
    }
    .footerHeader{
        padding: 0px;
        background-color: #312E2E;
        z-index: 2;
        margin-bottom: 50px;
        width: 100%;
        height: 5vh;
    }
    select{
        color:#FFF;
    }
    .reducir{
        bottom: 735px;
    }
    /* Diseños para el cuerpo de los proyectos */
    .contCuerpBody{
        width: 95%;
        flex-direction: column;
    }
    .contIzq{
        width: 100%;
        font-size: 13px;
        line-height: 1.3;
        color:#312E2E
    }
    .seleccionCab{
        padding:10px;
        font-size: 14px;
        color:#ffffff
    }
    .cuerpoIzq{
        padding: 2px 15px;
        color:#ffffff
    }
    .contDer{
        width: 100%;
    }
    .cabTitulo{
        position:relative;
    }
    .svgStar{
        width: 15px;
    }
    .videoYT{
        width: 250px;
    }
    .cardInfoProyect{
        flex-direction: column-reverse;
    }
    .descripProy{
        font-size: 14px;
    }
}




/* Clases de estado */
.vuelta{
    transform: rotate(3.142rad);
    transition: transform 1s linear;
}
.ocultar{
    opacity:0;
    visibility: hidden;
    transition:all 1.5s ease;
}
.reducir{
    height: 8vh;
    transition: height 1s ease;
}
.agrandar{
    height: auto;
    transition: height 1s ease;
}