*{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400; 
    font-style: normal;
}

body{
    padding:0;
    margin:0;
}
header{
    width: 100%;
    /* background-color: #27374D; */
    background-color: #6C698D;
    height: 100vh;
    display:flex;
    flex-direction: column;
    position:absolute;
    transition: height 1s ease;
}
.cuerpoHeader{
    /* margin:auto; */
    position:absolute;
    margin:auto;
    top:10%;
    left: 15%;
    display:flex;
    width: 65%;
    height: 65%;
    justify-content: center;
    padding:1em;
    gap:10px;
    color: #D4D2D5;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    transition:opacity 1s linear;
}
.cabCuerpo{
    display:flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0;
    margin-bottom:auto;
    justify-content: center;
    border-bottom: 1px solid white;
    padding-bottom:1em 
}
.imgPerfil{
    width: 175px;
    height: 175px;
    border-radius: .5em;
}
.contImgP{
    width: 25%;
    display:flex;
    justify-content: center;
}
.titulo{
    width: 30%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    /* background-color: blue; */
}
.contRedes{
    width: 90%;
    margin-top:auto;
    display: flex;
    justify-content: center;
    gap:50px;
}
.iconRed{
    width: 40px;
    fill: #D4D2D5;
}
.iconRed:hover{
    fill: #eaf2f9;
    transition: fill .5s ease;
}
.textPort{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-size: 17px;
}
.textoPortada{
    width: 95%;
}

.footerHeader{
    display:flex;
    flex-direction: row;
    width: 97%;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #DDE6ED;
    margin:auto;
    padding: 0 15px;
    margin-bottom:0 ;
    color: #DDE6ED;
}
.svgAbajo{
    width: 25px;
    fill: #98A1BC;
}




/* Clases de estado */
.vuelta{
    transform: rotate(3.142rad);
    transition: transform 1s linear;
}
.ocultar{
    opacity:0;
    visibility: hidden;
    transition:all 1s ease;
}
.reducir{
    height: 8vh;
    transition: height 1s ease;
}